.hero{
  background-color: var(--black-color);
  height: 500px;
  position: relative;
  p, a{
    color: var(--white-color);
    font-size: 24px;
  }
  video{
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: 0.5;
  }
  .content{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h2, p, a{margin: 12px 0;}
  &::after{
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(35.74deg, rgba(167, 2, 154, 0.7) -2.92%, rgba(167, 2, 154, 0) 106.13%);
  }
}




